body {
  background-color: rgb(203, 203, 219);
}

.navbar {
  background-color: rgb(100, 93, 107);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 3px;
}

h2 {
  font-size: 40px;
  font-family: "Times New Roman", Georgia, serif;
  color: rgb(81, 79, 94);
}

.p {
  color: rgb(59, 53, 53);
  font-size: 15px;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

h3 {
  color: rgb(59, 53, 53);
  font-size: 20px;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  margin-left: 10px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.na {
  display: flex;
  gap: 30px;
  margin-right: 20px;
  color: aliceblue;
  cursor: pointer;
}

.na p {
  transition:
    color 0.3s,
    text-decoration 0.3s;
}
.na p:hover {
  color: aqua;
  text-decoration: underline;
}

.image:hover img {
  transform: scale(1.05) translateY(-5px); /* pop up a bit */
  box-shadow: 0 10px 20px rgb(55, 82, 218); /* shadow */
}

.image img {
  width: 450px;
  height: 250px;
  object-fit: cover;
}

.tailer {
  text-align: center;
  background-color: rgb(126, 133, 140);
  margin-top: 90px;
  padding: 10px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* stack items vertically */
    align-items: flex-start; /* align to the left */
  }

  .na {
    flex-direction: row; /* stack links vertically */
    gap: 20px;
    margin-right: 5px;
  }
  .navbar {
    align-items: center;
  }
}
